@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 100;
  src: url("./full/WorkSans-100.woff") format("woff");
}
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 200;
  src: url("./full/WorkSans-200.woff") format("woff");
}
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./full/WorkSans-300.woff") format("woff");
}
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./full/WorkSans-400.woff") format("woff");
}
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./full/WorkSans-500.woff") format("woff");
}
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./full/WorkSans-600.woff") format("woff");
}
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./full/WorkSans-700.woff") format("woff");
}
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 800;
  src: url("./full/WorkSans-800.woff") format("woff");
}
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 900;
  src: url("./full/WorkSans-900.woff") format("woff");
}
